// main properties
$left-margin:              200px;
$right-margin:             50px;
$right-additional-margin:  150px;
$app-header-height:        50px;
$top-page-margin:          60px;
$user-quick-actions-width: 200px;
$bgc-mark-width:           200px;

// sections dimensions'
$only-topic-min-width: 600px;
$main-topic-min-width: 360px;
$topic-min-width:      300px;

// rwd boundaries
$medium-big-boundary-width:   1160px;
$small-medium-boundary-width: 680px;

$main-topic-single-max-width: 1020px;

$small-left-margin:      40px;
$small-right-margin:     40px;
$small-right-add-margin: 0;
