.form-topic {
	border:none !important;
}

.form-topic div.form-group {
	width: 90%;
	max-width: 400px;
}

.form-topic label, div.form-group {
	width: 100%;
	display: block;
}

.form-topic input {
	border: 1px rgb(50, 100, 170) solid;
	border-radius: 2px;
}

.form-group{
	padding-right: 50px;

	>label, >button, >:last-child, >:first-child {
		width: 100%;
		max-width: 400px !important;
	}
}

.form-element {
	width: 100%;
	max-width: 400px !important;
}

.long-input {
	resize: none;
	overflow: hidden;
}

form {
	.text-error {
		color: red;
		border-bottom: 1px red solid;
		padding: 10px 5px 5px 5px;
	}

	.ng-invalid.ng-dirty {
		border-color: red !important;
	}

	.text-warning {
		color: goldenrod;
		border-bottom: 1px goldenrod solid;
		padding: 10px 5px 5px 5px;
	}
}