<h2>Manage account</h2>
<bgc-loading-spinner *ngIf="loadLevel < 2"></bgc-loading-spinner>
<div>
	<div class="main-topic form-topic">
		<form #form="ngForm" class="">
			<h4>Customize your account settings</h4>
			<hr />
			<!-- motto -->
			<div class="form-group">
				<label>
					Motto
					<textarea type="text" class="form-control long-input" name="motto" 
							  [maxLength]="MaxMottoLength"
							  [(ngModel)]="model.motto"
							  cols="40" rows="4">
					</textarea>
				</label>
			</div>
				<!-- gender selection -->
			<div class="form-group">
				<label>
					Gender
					<bgc-select [items]="genders"
								[preselectedValue]="model.genderName"
								[modelToString]="genderToString"
								[title]="'Select your gender'"
								(selected)="onGenderSelected($event)">
						<ng-template let-item>
							<!-- render gender selection entry -->
							<span>{{item.genderName}}</span> -
							<i style="font-weight: lighter; font-size: 0.8em;">
								{{item.description}}
							</i>
						</ng-template>
					</bgc-select>
				</label>
			</div>
			<hr />
			
			<!-- deactivate account -->
			<div class="form-group">
				<label>
					Call death to take your account
				</label>
				<button type="submit"
						class="bgc-button bgc-button-danger"
						style="width: 100%;" (click)="deathRequest = true">
					Bye, I'm leaving
				</button>
			</div>
			<bgc-message-modal [enabled]="deathRequest"
							   [areTwoButtons]="true"
							   [button1Class]="'bgc-button-danger'"
							   [button1Text]="'Call Death'"
							   [button2Class]="'bgc-button-inform'"
							   [button2Text]="'Cancel'"
							   (button1)="onDeathRequest()"
							   (button2)="deathRequest = false">
				<h3>Are You ultimately sure you want to deactivate account?</h3>
			</bgc-message-modal>
			<!-- save changes -->
			<hr />
			<div class="form-group">
				<button type="submit"
						class="bgc-button bgc-button-affirm"
						style="width: 100%;" (click)="onSave()">
					Save
				</button>
			</div>
			<bgc-loading-spinner *ngIf="redirecting" ></bgc-loading-spinner>
		</form>
	</div>
</div>