.side-panel-modal {
	position: relative;
	height: 100%;
	width: 35%;
	top: 0;
	position: fixed;
	z-index: 1000;
	background-color: ghostwhite;
	box-shadow: -1px 0 6px darkslategray;
}



.side-panel-title {
	padding: 10px 15px 10px 15px;
	background-color: rgb(50, 100, 170);
	color: aliceblue;
	text-shadow: 1px 1px black;
	height: 40px;
}

.side-panel-title h4 {
	margin: 0;
	display: inline-block;
}

.side-panel-body {
	width: 100%;
	border: 2px dimgrey solid;
	height: calc(100% - 40px);
	overflow-y: hidden;
}

.panel-width-big {
	width: calc(75% + 20px) !important;
}