.quick-actions {
	width: 150px;
}
.user-beam {
	padding: 12px;
	text-align: center;
	line-height: 20px;
	width: 100%;
}
.user-name {
	color: burlywood;
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
	display: inline-block;
	width: calc(100% - 40px);
	cursor: pointer;
}

.actions-icon {
	color: aliceblue;
	padding: 4px;
	font-size: 20px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
}
	.actions-icon:hover {
		color: burlywood;
	}

.action-list {
	background-color: rgb(40, 40, 40);
	color: aliceblue;
	padding: 0 5px;
	display: block;
	width: max-content;
	float: right;
	position: absolute;
	z-index: -10;
	transform-origin: top;
	top: 50px;
}

.action-item {
	border-bottom: 1px aliceblue solid;
	padding: 8px 16px 8px 8px;
	cursor: pointer;
	display: block;
	
	min-width: 140px;
}
	.action-item > span {
		position: relative;
	}
	.action-item:hover {
		background-color: rgb(60, 60, 60);
	}
	.action-item:hover > span {
		left: 10px;
		color: burlywood;
	}
