@import '../bgcLayout.scss';
@import '../bgcColors.scss';

$span-line-height: 20px;

.quick-actions {
	width: $user-quick-actions-width;
	height: $app-header-height;
	text-align:left;
}

.user-beam {
	padding: 12px;
	text-align: center;
	width:  100%;
	height: 100%;
}
.user-beam span {
	display: inline-block;
	float: left;
	line-height: 26px;
}
.user-name {
	color: aliceblue;
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
	width: calc(100% - 75px);
	cursor: pointer;
}
	.user-name:hover {
		color: burlywood;
	}

.impulse-badge {
	overflow-x: hidden;
	padding: 0 5px;
	margin-left: -5px;
	color: burlywood;
	font-size: 1.2em;
	min-width: 30px;
	display: inline-grid;
	min-height: $span-line-height;
}

.actions-icon {
	color: aliceblue;
	padding: 4px;
	font-size: 20px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
	float: right !important;
	line-height: 20px;
}
	.actions-icon:hover {
		color: burlywood;
	}

.action-list {
	background-color: rgb(40, 40, 40);
	color: aliceblue;
	padding: 0 5px;
	display: block;
	width: max-content;
	float: right;
	position: absolute;
	z-index: -10;
	transform-origin: top;
	top: 50px;
	right: 0;
}

.action-item {
	border-bottom: 1px aliceblue solid;
	padding: 8px 16px 8px 8px;
	cursor: pointer;
	display: block;
	min-width: 140px;

	span {
		position: relative;
	}
}
	.action-item:hover {
		background-color: rgb(60, 60, 60);
		padding-right: 17px;
		margin-left: -4px;
		border-left: 3px white solid;
	}
	.action-item:hover > span {
		left: 10px;
		color: burlywood;
	}