.header-content {
	height: 50px;
	display: inline-block;
	width: 100%;
	background-color: rgba(40, 40, 40, 0.8);
	background-image: url('/images/jumbotron-banner.png');
	background-blend-mode:difference;
	background-size: calc(100% - 150px);
	background-repeat: no-repeat;
	background-position-y: 65%;
}

	.header-content > div {
		display: inline-block;
		padding: 0;
	}

	.header-content nav {
		display: inline-block;
		font-size: 1.2em;
		padding: 10px;
		height: 50px;
		background-color: rgba(20, 20, 20, 0.2);
		text-align: center;
		padding: 15px 10px;
		min-width: 75px;
		line-height: 20px;
	}

	.header-content nav:hover {
		background-color: rgba(90, 90, 90, 0.4);
	}

.route-section {
	float: left;
}
	.route-section a {
		color: aliceblue;
		text-shadow: 1px 1px 8px dimgrey;
	}

.user-section {
	float: right;
	min-width: 150px;
	border-left: 1px aliceblue solid;
}

	.user-section a {
		color: aliceblue; 
		text-shadow: 1px 1px 8px dimgrey;
		font-size: 18px;
	}

	.user-section nav {
		width: 100%;
	}