@import '../../controls/bgcLayout.scss';
@import '../../controls/bgcColors.scss';

.header-content {
	height: $app-header-height;
	display: inline-block;
	width: 100%;
	background-color: $app-header-color;
	/*background-image: url('/images/jumbotron-banner.png');
	background-blend-mode:difference;
	background-size: calc(100% - 150px);
	background-repeat: no-repeat;
	background-position-y: 65%;*/
	> div {
		display: inline-block;
		padding: 0;
	}

	a {
		text-decoration: none;
	}

	nav {
		display: inline-block;
		font-size: 1.2em;
		padding: 10px;
		height: $app-header-height;
		//background-color: rgba(20, 20, 20, 0.2);
		text-align: center;
		padding: 15px 10px;
		min-width: calc(#{$bgc-mark-width} / 2);
		line-height: 20px;
		cursor: pointer;
	}

	nav:hover {
		background-color: rgba(90, 90, 90, 0.4);
	}
}

.route-section {
	float: left;
}
	.route-section a {
		color: $text-light-color;
		text-shadow: 1px 1px 8px dimgrey;
	}

.user-section {
	float: right;
	text-align: center;
	width: $user-quick-actions-width;
}

	.user-section a {
		color: $text-light-color;
		text-shadow: 1px 1px 8px dimgrey;
		font-size: 18px;
	}

	.user-section nav {
		width: 100%;
	}