<div class="header-content">
	<div class="route-section">
		<!--<nav [routerLink]="homeRoute" [routerLinkActive]="['link-active']">
			<a >
				<span class="glyphicon glyphicon-home"></span> Home
			</a>
		</nav>
		--><nav [routerLink]="memeListRoute" [routerLinkActive]="['link-active']">
			<a >
				<span class="glyphicon glyphicon-th-list"></span> Published memes
			</a>
		</nav>
	</div>
	<div class="user-section">
		<div *ngIf="userName == ''">
			<nav [routerLinkActive]="['link-active']" [routerLink]="loginRoute">
				<a >
					<span>Sign in</span> 
				</a>
			</nav>
		</div>
		<bgc-quick-user-actions *ngIf="userName != ''"
								[userName]="userName"
								[notifications]="getAllImpulseCount"
								[items]="userActions">
		</bgc-quick-user-actions>
	</div>
</div>