@using System.Collections.Generic
@model IEnumerable<Memstore.Models.GalleryMeme>
@{
	ViewData["Title"] = "Meme Gallery";
}
@foreach (var meme in Model)
{
	<div class="meme">
		<img class="img-responsive" src="@meme.Url" alt="meme"/>
		<div class="well well-layout">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary">
					<input type="radio" name="vote" value="nicey" autocomplete="off"/>
					<span class="glyphicon glyphicon-thumbs-up"></span><span class="space-hide-text"> Nicey</span>
				</label>
				<label class="btn btn-primary">
					<input type="radio" name="vote" value="nope" autocomplete="off"/>
					<span class="glyphicon glyphicon-thumbs-down"></span><span class="space-hide-text"> Nope</span>
				</label>
			</div>
			<div>
				<span class="glyphicon glyphicon-fire"></span> <span class="badge">@meme.Rating</span>
			</div>
		</div>
	</div>
}