@import '../../controls/_bgcColors.scss';

p {
	min-height: 40px;
	width: 90%;
	padding: 10px;
	font-size: 16px;
	//background-color: aliceblue;
	border: 1px $inform-darker-color solid;
	border-radius: 2px;
}

p.sent {
	margin-left: 9%;
}

.message-list {
	height: 400px;
	overflow-y: scroll;
	margin-bottom: 20px;
}


.load-indication-section {
	width: 80%;
	margin:auto;
	height: 25px;
	position: relative;
	z-index: 20;

	>span{
		display: block;
		width: 16px;
		height: 16px;
		margin: auto;
		opacity: 0.5;
		color:grey;
		font-size: 17px;
	}
}

@keyframes spin {
	from {
		transform: rotateZ(0);
	}
	50% {
		transform: rotateZ(180deg);
	}

	to {
		transform: rotateZ(360deg);
	}
}

.load-indication-section:hover {
	>span{
		animation-name: spin;
		animation-duration: 2s;
		color: black;
		opacity: 0.6;
	}
}
