.switch-outer {
	display: block;
	height: 30px;
	border-radius: 2px;
	border: 1px rgb(50, 100, 170) solid;
	background-color: aliceblue;
	/*padding: 1px;*/
}

.switch-outline {
	min-width: 100px;
}

.switch-button {
	height: 28px;
	width: 50%;
	background-color: rgb(50, 100, 170);
	border-radius: 2px;
	border: none;
	display: block;
}
.switch-button:hover ~bgc-button-disabled {
	background-color: rgb(60, 120, 200);
}

.value-name {
	position: relative;
	display: inline-block;
	width: 49%;
	text-align: center;
	font-weight: normal;
	height: 30px;
	padding-top: 6px;
	font-size: 1em;
	top: -30px;
	cursor: crosshair;
	pointer-events: none;
}

.current {
	font-weight: bold;
	color:white;
}

.checkbox-box {
	width: 30px;
	padding: 1px;
}

.checkbox-check {
	padding-left: 2px;
	font-size: 1.4em;
	color: rgb(60, 120, 200);
}