<div class="switch-outer switch-outline" 
	 [ngClass]="[switchClass]"
	 *ngIf="!useCheckbox && !constType" >
	<button type="button" class="switch-button" (click)="switch()" 
			[@switchSide]="buttonState" 
			[ngClass]="{'bgc-button-disabled' : disabled}">
	</button>
	<span [ngClass]="{ 'current' : value }" class="value-name">{{leftName}}</span>
	<span [ngClass]="{ 'current' : !value}" class="value-name">{{rightName}}</span>
</div>
<button *ngIf="useCheckbox && !constType" type="button" 
		class="checkbox-box switch-outer" 
		[ngClass]="checkClass"
		(click)="switch()">
	<span class="glyphicon glyphicon-ok checkbox-check" *ngIf="value"></span>
</button>