<div class="meme">
	<p *ngIf="meme.title"><em>{{meme.title}}</em></p>
	<img class="img-responsive meme-list-style" [src]="_sanitizer.bypassSecurityTrustUrl(meme.base64)" alt="meme"/>
	<div class="well meme-list-style">
		<div class="btn-group" data-toggle="buttons" set="{0}">
			<label class="btn btn-primary">
				<input type="radio" name="vote" value="nicey" autocomplete="off"/>
				<span class="glyphicon glyphicon-thumbs-up"></span>
				<span class="space-hide-text"> Nicey</span>
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="vote" value="nope" autocomplete="off"/>
				<span class="glyphicon glyphicon-thumbs-down"></span>
				<span class="space-hide-text"> Nope</span>
			</label>
		</div>
		<div class="meme-hotness">
			<span class="glyphicon glyphicon-fire"></span> <span class="badge">
				{{meme.rating}}
			</span>
		</div>
	</div>
</div>