div.meme {
	display: block;
	padding: 10px 15px;
	/*background-color: aliceblue;
	border-radius: 2px;
	border: 2px solid burlywood;*/
	min-width: 300px;
}
img.meme {
	height: auto;
	width: 100%;
}

.meme-list-style {
	padding-top: 10px;
	width: calc(100% - 40px);
	margin-left: 20px;
	white-space: nowrap;
}
.meme-list-style div {
	display: inline-block;
}

.meme-hotness {
	display: inline-block;
}

.vote-buttons {
	height:30px;
	width:100px;
	margin-right: 10px;
	margin-left: 0;
}

.voted {
	background-color: burlywood !important;
}
