.pass-strength-cue {
	display: block;
	height: 4px;
	background-color: darkgrey;
}
.pass-strength-cue > span {
	height: inherit;
	display: inherit;
}

.pass-strength-1 {
	background-color: palevioletred;
	width: 33%;
}

.pass-strength-2 {
	background-color:darkgoldenrod;
	width: 66%;
}

.pass-strength-3 {
	background-color:limegreen;
	width: 100%;
}