<h2>Login</h2>

<div >
	<div class="main-topic form-topic topic-well">
		<form #form="ngForm" class="">
			<h4>Login to an existing account.</h4>
			<hr />
			<div *ngIf="error !== ''" class="text-error" style="margin-bottom: 10px; padding-top: 0;">
				{{error}}
			</div>
			<!-- user email -->
			<div class="form-group">
				<label>
					Email
					<input type="email" class="form-control" name="email" required
						   [(ngModel)]="model.email" #email="ngModel" [email]="true" />
				</label>
			</div>
			<hr />
			<!-- passwords -->
			<div class="form-group">
				<label>
					Password
					<input type="password" class="form-control" name="password" required
						   [(ngModel)]="model.password" #pass="ngModel" [minlength]="8" 
						   [maxlength]="50" />
				</label>
			</div>

			<hr />
			<!-- remember me switch -->
			<div class="form-group">
				<label>
					Remember me
				</label>
				<bgc-switch [disabled]="false"
							[useCheckbox]="false"
							[startValue]="false"
							[leftName]="'Yes'"
							[rightName]="'No'"
							(switched)="model.rememberMe = $event">
				</bgc-switch>
			</div>

			<hr />
			<div class="form-group">
				<button type="submit"
						[disabled]="email.errors || pass.errors"
						class="bgc-button bgc-button-affirm"
						style="width: 100%;" (click)="onSubmit()">
					Login
				</button>
			</div>
			<bgc-loading-spinner *ngIf="redirecting">
			</bgc-loading-spinner>
		</form>
	</div>
	<div class="topic-well side-panel">
		<h4>Don't have an account?</h4>
		<hr/>
		<button type="button"
				class="bgc-button bgc-button-inform"
				style="width: 100%;" (click)="onRegisterRedirect()">
			Register
		</button>
	</div>
</div>