<h2>Login</h2>

<div class="row">
	<div class="main-topic form-topic">
		<form #form="ngForm" class="">
			<h4>Login to an existing account.</h4>
			<hr />
			<div [hidden]="error == ''" class="text-error" style="margin-bottom: 10px; padding-top: 0;">
				{{error}}
			</div>
			<!-- user email -->
			<div class="form-group">
				<label>
					Email
					<input type="email" class="form-control" name="email" required
						   [(ngModel)]="model.email" #email="ngModel" [email]="true" />
				</label>
				<!-- shows validation errors -->
				<div *ngIf="!email.pristine">
					<div *ngIf="!email.valid" class="text-error">
						Email is invalid.
					</div>
				</div>
			</div>
			<hr />
			<!-- passwords -->
			<div class="form-group">
				<label>
					Password
					<input type="password" class="form-control" name="password" required
						   [(ngModel)]="model.password" #pass="ngModel" [minlength]="8" 
						   [maxlength]="50" />
				</label>
				<!-- shows validation errors -->
				<div *ngIf="!pass.pristine">
					<div *ngIf="pass.errors && pass.errors.required" class="text-error">
						Password is required.
					</div>
					<div *ngIf="pass.errors && pass.errors.minlength" class="text-error">
						Password must be at least 8 characters long.
					</div>
				</div>
			</div>

			<hr />
			<!-- remember me switch -->
			<div class="form-group">
				<label>
					Remember me
				</label>
				<bgc-switch [disabled]="false"
							[useCheckbox]="false"
							[startValue]="false"
							[leftName]="'Yes'"
							[rightName]="'No'"
							(switched)="model.rememberMe = $event">
				</bgc-switch>
			</div>

			<hr />
			<div class="form-group">
				<button type="submit"
						[disabled]="email.errors || pass.errors"
						class="bgc-button bgc-button-affirm"
						style="width: 100%;" (click)="onSubmit()">
					Login
				</button>
			</div>
			<bgc-loading-spinner *ngIf="redirecting">
			</bgc-loading-spinner>
		</form>
	</div>
</div>