<h3>Find User You may know</h3>

<div class="main-view">
	<div [ngClass]="{'one-topic' : !found}"
		 class="topic main-topic dual-topic">
		<form #form="ngForm">
			<h4>Type user's name in the box.</h4>
			<hr />
			<div class="form-group">
				<label>
					User's name
					<input type="text" class="form-control" name="name" required
						   [(ngModel)]="userName" #name="ngModel" [minlength]="5" />
				</label>
				<div *ngIf="name.valid && name.dirty">
					<div *ngIf="success == 1" class="text-warning">
						Black Gauge was unable to find the user.
					</div>
					<div *ngIf="success == 2" class="text-warning">
						Why would you lool for Yourself? ಠ_ಠ
					</div>
				</div>
			</div>
			<div class="form-group">
				<button type="submit"
						[disabled]="name.errors"
						class="bgc-button bgc-button-inform"
						(click)="findUser()">
					Find
				</button>
			</div>
			<bgc-loading-spinner *ngIf="searching">
			</bgc-loading-spinner>
		</form>
		<div *ngIf="found">
			<hr/>
			<h4>{{model.userName}}</h4>
			Gender: <span>{{model.genderName}}</span><br/>
			Motto: <i>{{model.motto}}</i><br/>
			Respek: <span>{{model.respek}}</span>

		</div>
	</div>
	<div *ngIf="found"
		 class="topic secondary-topic">
		<h4>Interact with {{model.userName}}?</h4>
		<hr />
		<button type="button"
				[disabled]="comradeRequestSent"
				class="bgc-button"
				[ngClass]="{'bgc-button-affirm ': !comradeRequestSent}"
				style="width: 90%;" (click)="onComradeRequest()">
			{{comradeRequestTitle}}
		</button><br />
		<nav class="direct-link form-element" style="width: 90%;"
			 *ngIf="model.requestReceived && !model.isComrade"
			 [routerLinkActive]="['link-active']"
			 [routerLink]="['/comrades']">
			<a>Go to <i>Comrades</i> to agree.</a>
			<span class="glyphicon glyphicon-chevron-right"></span>
		</nav>
		<nav class="direct-link form-element" style="width: 90%;"
			 *ngIf="model.isComrade"
			 [routerLinkActive]="['link-active']"
			 [routerLink]="['/messages']">
			<a>Go to <i>Messages</i>.</a>
			<span class="glyphicon glyphicon-chevron-right"></span>
		</nav>
	</div>
</div>