/* used to cover screen with cover :) */
.select-background {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: 1000;
	/*background: rgba(60, 60, 70, 0.5);*/
}


button.select-entry {
	display: block;
	padding: 10px 10px 10px 30px;
	font-weight: normal;
	border: none;
	border-bottom: 1px dimgrey solid !important;
	width: 100%;
	text-align: left;
}

.select-entry:nth-child(even) {
	background-color:#eee;
}

.select-entry:nth-child(odd) {
	background-color: #fff;
}

.select-entry:hover {
	background-color: burlywood !important;
	padding-left: 40px;
	font-weight: bold;
}